h1{
    text-align: center;
    font-size: 30px;
    text-decoration: underline 2px;
}
.a{
    margin-left: 45%;
    font-size: 35px;
    color: black;
    text-decoration: underline;
}
h2{
    text-align: center;
}
.about{
    text-align: center;
}
h3{
    text-align: end;
}
h4{
    text-align: end;
}
.contacts{
    text-align: end;
}
.address{
    text-align: end;
}
a{
    margin-left: 14%;
}
